header {
  min-height: 120px;
  color: white;
  margin: 20px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 30px;
  width: 100%;
  column-gap: 20px ;
  row-gap: 20px;
}
header div {
  background-color: #b6244f;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 40%;
  min-width: 305px;
}
