nav {
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  width: 150px;
  min-width: 130px;
  background-color: #504746;
  color: wheat;
  text-align: center;
  padding-top: 20px;
}

nav img {
  width: 128px;
  filter: invert(100%);
  margin: auto;
  opacity: 90%;
}

ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.8;
  width: 80%;
  padding: 0;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fbb7c0;
}
