* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
html {
  background-image: url(images/salon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
body {
  display: flex;
}

/* navigation section */

nav {
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  width: 150px;
  min-width: 100px;
  background-color: #504746;
  color: wheat;
  text-align: center;
  padding-top: 20px;
}

nav img {
  width: 128px;
  filter: invert(100%);
  margin: auto;
  opacity: 90%;
}

/*main section elements*/

main {
  height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
  margin: auto;
  align-items: start;
}
/*header style*/
header {
  height: 120px;
  color: white;
  margin: 20px 0 40px 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
header div {
  background-color: #b6244f;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 40%;
}
/*sections style*/
section {
  background-color: rgba(255, 183, 197, 0.85);
  margin: 20px 0 40px 0;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  scroll-margin-top: 50px;
}

section h2 {
  background-color: #b6244f;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 30px;
}

#oMnie img {
  width: 200px;
  float: left;
  margin-right: 10px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

section article {
  font-size: 22px;
}

#kontakt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  min-width: 270px;
}

#kontakt img {
  width: 64px;
}

.square {
  background-color: white;
  width: 40%;
  padding: 30px 0 30px 0;
  text-align: center;
  border-radius: 20px;
  border: #504746 solid 2px;
  min-width: 190px;
}

#cennik,
#kontakt {
  width: 46%;
}

#cennik {
  min-width: 270px;
}
/*table style*/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #b6244f;
  color: white;
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
}

td:nth-child(2n + 1) {
  width: 70%;
}

td {
  background-color: #f9f9f9;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
}

tr:hover td {
  background-color: #f1f1ff;
}

/*list style*/

ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.8;
  margin: auto;
  width: 80%;
}

/*link style*/

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fbb7c0;
}
