#galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  background-color: rgba(255, 183, 197, 0.85);
  margin: 20px 0 40px 0;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  scroll-margin-top: 50px;

}

#galeria h2 {
  background-color: #b6244f;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev, .swiper-button-next {
   background-color: rgba(255, 183, 197);
   padding: 30px 20px 30px 20px;
   border: #b6244f solid 2px;
   border-radius: 50px;
   text-align: center;
   color: #b6244f !important;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

}