#galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  background-color: rgba(255, 183, 197, 0.85);
  margin: 20px 0 40px 0;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  scroll-margin-top: 50px;
}

#galeria h2 {
  background-color: #b6244f;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
}

#galeria img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding:0 20px 0 20px;
}
.slick-slider{
  width: 90%;
}

.slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
}