/*main section elements*/

/*header style*/


/*sections style*/
section {
  background-color: rgba(255, 183, 197, 0.85);
  margin: 20px 0 40px 0;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  scroll-margin-top: 50px;
}

section h2 {
  background-color: #b6244f;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 30px;
}

#oMnie img {
  width: 200px;
  float: left;
  margin-right: 10px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}


#galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

#galeria img{
    object-fit: none;
    width: 400px;
    height: 400px;
}
/*table style*/


